<div
  class="flex flex-col items-center fixed w-60 h-screen text-white bg-[#191919] p-2 gap-2 z-10"
>
  <input
    type="text"
    placeholder="Search..."
    class="w-full p-2 rounded-xl border-[1px] focus:border-[#303030] border-transparent outline-0 transition-all"
  />
  <app-model-picker class="w-full" />

  <button
    (click)="createChat()"
    class="text-left p-2 rounded-xl hover:bg-[#242424] w-full border-[1px] border-transparent hover:border-[#303030]"
  >
    <i class="bi bi-plus-lg"></i>
    New Chat
  </button>
  <div class="w-[95%] rounded-lg h-[2px] bg-[#353535]"></div>
  <div
    [routerLink]="'/chat/' + chat.id"
    class="flex cursor-pointer w-full justify-between group p-1.5 pl-2 rounded-xl hover:bg-[#242424] border-[1px] border-transparent hover:border-[#303030] hover:shadow-md overflow-hidden"
    *ngFor="let chat of chats()"
  >
    {{ chat.title }}
    <div
      class="flex gap-1 opacity-0 group-hover:opacity-100 slide transition-transform"
    >
      <i
        class="flex items-center justify-center hover:bg-[#303030] rounded-lg h-8 w-8 bi bi-pencil-square"
      ></i>
      <i
        (click)="removeChat(chat.id)"
        class="flex items-center justify-center hover:bg-red-500 rounded-lg h-8 w-8 bi bi-trash-fill"
      ></i>
    </div>
  </div>
</div>

<style>
  @keyframes slide-left {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .group:hover .slide {
    animation: slide-left ease-in-out 0.1s;
  }
</style>
