<button
  (click)="togglePicker()"
  class="flex w-full p-2 rounded-t-xl hover:bg-[#242424] border-[1px] border-[#191919] hover:border-[#303030] ease-in-out"
  [ngClass]="{
    'rounded-b-xl': !showPicker(),
    'border-b-0': showPicker(),
    'bg-[#242424]': showPicker(),
    'border-[#303030]': showPicker()
  }"
>
  <i
    class="bi bi-caret-right-fill mr-2 transition-transform ease-in-out"
    [ngClass]="{ 'rotate-90': showPicker() }"
  ></i>
  Models
</button>

<div
  *ngIf="showPicker()"
  class="fixed flex flex-col w-56 p-2 bg-[#242424] gap-2 rounded-b-2xl text-white border-[1px] boredr-t-0 border-[#303030]"
>
  <input
    placeholder="Search..."
    type="text"
    class="border-[1px] border-transparent focus:border-[#404040] outline-0 p-2 rounded-xl bg-[#282828]"
  />
  <button
    (click)="setModel(model)"
    class="text-left p-2 px-3 rounded-xl hover:bg-[#282828] w-full active:scale-[98%] transition-all ease-in-out"
    *ngFor="let model of models()"
  >
    {{ model }}
  </button>
</div>
