/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "tailwindcss";

.inter-reg {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #171717;
  line-height: 1.8rem;
}

td {
  @apply border-[1px] border-[#303030] p-1;
}

ul {
  @apply list-disc pl-5;
}

a {
  @apply text-blue-400 underline;
}
